.footer-container {
    width: $mobile;
    height: 100px;
    margin-left: auto;
    margin-right: auto;

    background-color: $bkg-footer;
}

.footer-text {
    position: relative;
    padding-top: 28px;
    &:nth-child(2) {
        padding-top: 10px;
    }

    font-weight: 400;
    font-size: 14px;
    line-height: 16.41px;
    color: $color-text-footer;
    text-align: center;
}

.footer-icon {
    position: absolute;
    top: 12px;
    left: 147px;
    width: 14px;
    height: 14px;

}

.footer-link {
    color: $color-text-footer;
}

// Для экранов от 768 до 1279 пикселей
@media screen and (min-width: $tablet) {
    .footer-container {
        display: flex;
        justify-content: center;
        width: $tablet;
        height: 79px;
    }
    
    .footer-text {
        padding-top: 30px;
    
        &:nth-child(2) {
            margin-left: 3px;
            padding-top: 30px;
        }
    
        font-size: 16px;
        line-height: 18.75px;
    }
    
    .footer-icon {
        top: 33px;
        left: 115px;
    }
}

// Для экранов от 1280 и более пикселей
@media screen and (min-width: $desktop) {
    .footer-container {
        width: $desktop;
    }
}