<!-- Разметка шаблона карточки фильма -->
<div class="film-container">
    <div class="image-wrapper">
        <img class="film-image" src="./images/background-library-mobile.jpg" alt="" />
    </div>
    <h2 class="film-title">GREYHOUND</h2>
    <p class="film-data">Drama, Action | 2020</p>
</div>