// === ЦВЕТА ===

// = Основной цвет фона
$bkg-color: #ffffff;

// Цвет фона футера
$bkg-footer: #F7F7F7;

// = Основной цвет текста
$color-text: #000000;

// Цвет заголовков
$color-title: #000000;

// Цвет текста в хедере
$color-text-header: #ffffff;

// Цвет текста в карточке фильма
$color-card-accent: #FF6B08;

// Цвет текста в футере
$color-text-footer: #545454;

// Цвет линии подчёркивания пункта меню
$color-underline: #FF001B;

// Цвет текста предупреждения в хедере
$color-text-massage: #FF001B;

// Цвет линии в строке поиска
$color-line-input: #ffffff;

// Цвет кнопки в хедере MY LIBRARY
$color-button: #FF6B01;

// Цвет бордера кнопки в хедере MY LIBRARY
$color-border-button: #ffffff;

// Цвет фона кнопок пагинации влево и вправо
$color-btn-pagination: #F7F7F7;

// Цвет активной цифры пагинации
$color-num-accent-pagination: #FFFFFF;

// Цвет фона активной цифры пагинации
$color-accent-pagination: #FF6B08;

// Цвет текста в первой колонке модального окна
$color-modal-colon: #8C8C8C;

// Цвет акцента в модальном окне
$color-modal-accent: #FF6B01;

// Цвет текста при акценте
$color-modal-text-accent: #FFFFFF;

// Цвет бордера кнопки в модальном окне
$color-border-modal-button: #000000;



// === ШРИФТЫ ===

// = Набор основного шрифта
$font-main: Roboto;

// = Набор дополнительного шрифта
$font-family: sans-serif;