<div class="pagination-wrapper">
  <div class="pagination-container js-pagination-container">
    <ul class="js-pagination-list">
      <!-- <li class="btn prev">
        <span><i class="fas fa-angle-left"></i>L</span>
      </li>
      <li class="numb active"><span>1</span></li>
      <li class="dots"><span>...</span></li>
      <li class="numb"><span>2</span></li>
      <li class="numb"><span>3</span></li>
      <li class="numb active"><span>4</span></li>
      <li class="numb"><span>5</span></li>
      <li class="numb"><span>6</span></li>
      <li class="dots"><span>...</span></li>
      <li class="numb"><span>7</span></li>
      <li class="btn next">
        <span>R<i class="fas fa-angle-right"></i></span>
      </li> -->
    </ul>
  </div>
</div>
