<!-- Серый фон -->
<div class="modal__backdrop is-hidden" data-modal>
  <!-- Модальное окно -->
  <div class="modal__movie js-modal__movie">
    <img class="modal__image" src="https://" alt="poster" />
    <div class="modal__info">
      <h2 class="modal__header">Title of movie</h2>
      <table class="modal__table">
        <tr>
          <td>Vote / Votes</td>
          <td><span class="modal__table--accent">7.3</span> / 1260</td>
        </tr>
        <tr>
          <td>Popularity</td>
          <td>100.2</td>
        </tr>
        <tr>
          <td>Original Title</td>
          <td>Title of movie</td>
        </tr>
        <tr>
          <td>Genre</td>
          <td>Western</td>
        </tr>
      </table>
      <h3 class="modal__about">ABOUT</h3>
      <p class="modal__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, ducimus
        temporibus. Perspiciatis quam, ipsa dolorum beatae animi laboriosam
        repellat impedit reprehenderit quaerat iste unde voluptatum ipsum
        aperiam atque saepe hic quibusdam autem quidem exercitationem at! Ipsum
        aperiam recusandae labore. Corporis ut, magnam libero at porro unde
        culpa possimus, officia ex minus commodi asperiores! Temporibus
        perferendis deserunt eveniet placeat molestiae magni, voluptatum earum
        alias quam rem iste? Quasi veritatis libero ad nisi. Totam cum
        recusandae eos quibusdam quos ratione. Nemo eveniet fugit molestiae
        blanditiis optio aperiam tempore, non odio, cumque eum temporibus
        accusantium esse beatae earum, facilis doloribus. Beatae, totam ad!
      </p>
      <div class="modal__buttons">
        <button class="modal__button checked" type="button">
          ADD TO WATCHED
        </button>
        <button class="modal__button" type="button">ADD TO QUEUE</button>
      </div>
      <!-- Кнопка закрытия модального окна -->
      <button type="button" class="modal__button-close">
        <svg class="modal__icon" data-modal-close>
          <use href="./images/symbol-defs.svg#icon-close"></use>
        </svg>
      </button>
    </div>
  </div>
</div>
